{% load render_table from django_tables2 %}

<form method="get" action="{% url 'nba:games_list' %}">
    <label for="player_id">球员ID：</label>
    <input type="text" id="player_id" name="player_id" value="{{ request.GET.player_id }}">
    
    <label for="season_id">赛季ID：</label>
    <input type="text" id="season_id" name="season_id" value="{{ request.GET.season_id }}">
    
    <button type="submit">搜索</button>
</form>


<table>
    <thead>
        <tr>
            {% for column, header in games_list.columns.items %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% render_table games_list %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{{ request.GET.urlencode }}&page=1">&laquo; first</a>
            <a href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">next</a>
            <a href="?{{ request.GET.urlencode }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

