{% load static %}
<link rel="stylesheet" href="{% static 'nba/style.css' %}">

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="{% static 'nba/images/dute_favicon_32x32.ico' %}" type="image/x-icon">
    <title>主页</title>
    <style>
        .container {
            display: flex;
            flex-direction: row;
        }
        .model {
            flex: 1;
            border: 1px solid black;
            padding: 10px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="model">
            <h2>球员信息</h2>
            <ul>
                {% for obj in player_objects %}
                    <li><a href="{% url 'nba:players_info' obj.PERSON_ID %}">{{ obj.FIRST_NAME }} {{obj.LAST_NAME}}</a></li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="model">
            <h2>球队信息</h2>
            <ul>
                {% for obj in team_objects %}
                    <li> <a href="{% url 'nba:teams_info' obj.TEAM_ID %}"> {{ obj.NICKNAME_x }} </a></li>
                {% endfor %}
            </ul>
        </div>
        
        <div class="model">
            <h2>比赛信息</h2>
            <ul>
                {% for obj in game_objects %}
                    <li>  <a href="{% url 'nba:games_info' obj.RECORD_ID %}">  {{ obj.GAME_DATE}} {{ obj.MATCHUP }} </a> </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
