<!DOCTYPE html>

<html>
<head>
    <title>生涯总得分</title>
</head>
<body>
    <table>
        <tr>
            <th>PLAYER_ID</th>
            <th>PLAYER_NAME</th>
            <th>PTS</th>
        </tr>
        {% for row in player_total_pts %}
            <tr>
                {% for value in row %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <table>
        <tr>
            <th>视频名称</th>
            <th>视频链接</th>
        </tr>
        {% for row in video_data_list %}
            <tr>
                {% for value in row %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    
</body>
</html>