<!DOCTYPE html>
<html>
<head>
    <title>球队信息</title>
    <style>
        /* 设置页面背景图片 */
        body {
            background-image: url("{{ background_url }}");
            /* 其他样式属性 */
            background-repeat: no-repeat; /* 防止平铺 */
            background-size: 400px 400px; /* 拉伸以覆盖整个元素 */
            background-color: rgba(255, 255, 255, 0.5); /* 设置背景颜色透明度 */
            background-position:  50% 30%; /* 居中对齐 */
            /* 其他样式属性 */
        }
    </style>
</head>
<body>
    <h2>球队信息</h2>
    <table border="1">
        <tr>
            <th>属性</th>
            <th>值</th>
        </tr>
        {% for field_name, field_value in fields_dict.items %}
        <tr>
            <td>{{ field_name }}</td>
            <td>{{ field_value }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
